#goods .good_top p {
  line-height: 76px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #eee;
  position: relative;
  border-top: 1px solid #eee;
}

#goods .good_center {
  margin-top: 30px;
}

#goods .good_center .box_left .box_img {
  width: 450px;
  height: 450px;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 16px;
}

#goods .good_center .box_left .box_img img {
  width: 430px;
  height: 430px;
}

#goods .good_center .box_left .btn {
  width: 56px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: center;
}

#goods .good_center .box_left .btnleft {
  background-image: url("../img/left.png");
  margin-left: 34px;
}

#goods .good_center .box_left .ulremove {
  overflow: hidden;
  width: 288px;
  height: 62px;
  position: relative;
}

#goods .good_center .box_left .ulremove .tabul {
  height: 62px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#goods .good_center .box_left .ulremove .tabul .gaoliang {
  border: 1px solid #EC595C;
}

#goods .good_center .box_left .ulremove .tabul li {
  float: left;
  border: 1px solid #ccc;
  margin: 0 5px;
}

#goods .good_center .box_left .ulremove .tabul li img {
  height: 60px;
  width: 60px;
}

#goods .good_center .box_left .btnright {
  background-image: url("../img/right.png");
}

#goods .good_center .box_left p {
  font-size: 14px;
  padding: 0 30px;
  padding-bottom: 30px;
  padding-top: 100px;
  color: #666;
}

#goods .good_center .box_left p span {
  float: right;
}

#goods .good_center .box_left p a {
  color: #000;
}

#goods .good_center .box_left p a i {
  width: 20px;
  height: 20px;
}

#goods .good_center .box_right {
  width: 688px;
}

#goods .good_center .box_right p {
  padding-bottom: 30px;
}

#goods .good_center .box_right p .span1 {
  padding: 0 20px;
  background: #BE4141;
  color: #fff;
}

#goods .good_center .box_right p .span2 {
  font-size: 22px;
  color: #333;
  font-weight: bold;
}

#goods .good_center .box_right .box_daojishi {
  border-radius: 3px;
  height: 36px;
  background: #F64654;
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  padding: 0 20px;
}

#goods .good_center .box_right .box_daojishi span {
  font-size: 18px;
  font-weight: bold;
}

#goods .good_center .box_right .box_daojishi a {
  color: #fff;
  float: right;
}

#goods .good_center .box_right .box_price {
  height: 66px;
  background: #F9F9F9;
  line-height: 66px;
  padding-left: 10px;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}

#goods .good_center .box_right .box_price i {
  font-size: 14px;
  color: #333;
  width: 72px;
  display: inline-block;
}

#goods .good_center .box_right .box_price span {
  font-size: 26px;
  font-weight: bold;
  color: #EC595C;
}

#goods .good_center .box_right .box_tocar {
  padding-left: 10px;
  font-size: 14px;
}

#goods .good_center .box_right .box_tocar div {
  line-height: 46px;
}

#goods .good_center .box_right .box_tocar i {
  display: inline-block;
  width: 75px;
}

#goods .good_center .box_right .box_tocar .huodong span {
  color: #EC595C;
}

#goods .good_center .box_right .box_tocar .peisong select {
  height: 26px;
}

#goods .good_center .box_right .box_tocar .xiangzhi {
  padding-top: 16px;
}

#goods .good_center .box_right .box_tocar .xiangzhi span {
  color: #666;
}

#goods .good_center .box_right .box_tocar .shuliang input {
  border: 1px solid #ddd;
  width: 80px;
  height: 24px;
  padding-left: 10px;
}

#goods .good_center .box_right .box_tocar .shuliang span {
  margin-left: 20px;
}

#goods .good_center .box_right .box_tocar .goumai a {
  display: block;
  height: 46px;
  width: 166px;
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

#goods .good_center .box_right .box_tocar .goumai .buy {
  color: #EE595C;
  border: 1px solid #EE595C;
  margin-left: 79px;
  background: #FFF8F9;
}

#goods .good_center .box_right .box_tocar .goumai .buy:hover {
  background: #FFCFBF;
}

#goods .good_center .box_right .box_tocar .goumai .tocar {
  color: #fff;
  background: #EC595C;
  height: 48px;
  margin: 0 10px;
}

#goods .good_center .box_right .box_tocar .goumai .tocar:hover {
  background: #FF7373;
}

#goods .good_center .box_right .box_tocar .haoping ul li a {
  padding: 0 16px;
  border-right: 2px solid #CCCFDA;
}

#goods .good_center .box_right .box_tocar .haoping ul .li_a span {
  color: #EE595C;
}

#goods .good_center .box_right .box_tocar .haoping ul .li_b a {
  color: #97B8F3;
}

#goods .good_bottom {
  margin-bottom: 40px;
}

#goods .good_bottom .box_head {
  border: 1px solid #eee;
  padding-left: 50px;
  border-top: 1px solid #ccc;
  width: 765px;
  margin-left: 180px;
}

#goods .good_bottom .box_head h1 {
  color: #333;
  line-height: 55px;
  font-size: 26px;
  font-weight: bold;
}

#goods .good_bottom .box_head ul {
  padding: 30px 45px;
}

#goods .good_bottom .box_head ul li {
  clear: both;
  color: #333;
  padding: 6px 0;
}

#goods .good_bottom .box_head ul li span {
  width: 140px;
  color: #666;
  display: inline-block;
}

#goods .good_bottom .box_head ul li .attributes-cont {
  width: 380px;
  float: right;
  text-align: left;
}

#goods .good_bottom .box_main {
  padding-left: 180px;
  margin-top: 20px;
}

#goods .links {
  height: 200px;
}

#goods .links .links_info {
  width: 90px;
  margin: 16px 90px 0 0;
}

#goods .links .links_info dl {
  line-height: 2em;
}

#goods .links .links_info dl dt {
  font-size: 15px;
  font-weight: bold;
}

#goods .links .links_info dl dd {
  font-size: 12px;
  line-height: 2em;
  color: #3e3e3e;
}

#goods .links .links_w {
  margin-top: 16px;
  text-align: center;
  width: 128px;
}

#goods .links .links_w p {
  font-size: 12px;
  font-weight: bold;
  color: #111111;
  line-height: 2em;
}
